
<div class="welcome-card-container">
    <div class="welcome-action been-here-before"
    (click)="closeCard()">
        <div class="arrow-wrapper">
            <arrow></arrow>
        </div>
        <div class="text">
            {{ 'Been Here Before' }}
        </div>
    </div>

    <div class="welcome-text-wrapper">
        <div class="welcome-to">
            {{ 'Welcome To' }}
        </div>
        <div class="project-name">
            {{ 'Best Route Through A Terrain' }}
        </div>
    </div>

    <div class="welcome-action how-to-use-this"
    (click)="closeCard()">
        <div class="text">
            {{ 'How To Use This ?' }}
        </div>
        <div class="arrow-wrapper">
            <arrow></arrow>
        </div>
    </div>
</div>