
@import '../../../styling/_map-text-styling.scss';
@import '../../../styling/map-css-animations';

.button-container {
    --dynamicWidth: '8rem';

    display: flex;
   
    .common {
        position: relative;
        overflow: hidden;

        border-radius: 0.5rem;
        font: normal normal 0.9rem Poppins;

        margin: 0rem 0.5rem 0rem 0.5rem;
        padding: 0.5rem;

        width: var(--dynamicWidth);
        white-space: nowrap;
        text-align: center;
        
        color: $text-primary;
        background-color: $background-secondary;
    }

    .active {
        opacity: 1;
        cursor: pointer;

        background-color: $background-secondary;
        transition: background 0.6s ease;
        background-position: center;
        background-image: radial-gradient(circle,
                             transparent 1%,
                             $background-tertiary 1%);
        background-size: 12000%;

        &:hover {
            background-color: $background-tertiary;
        }

        &:active {
            background-color: $background-secondary-helper;
            opacity: 0.8;
            transition: background 0s;
            background-size: 100%;
        }
    }
    
    .disabled {
        opacity: 0.8;
        background-color: $background-secondary;
        cursor: default;
    }
}