
@import '../../../styling/_map-text-styling.scss';

.button-container {
    display: flex;
   

    .common {
        border-radius: 0.5rem;
        font: normal normal 0.95rem Poppins;
        padding: 0.5rem;
        width: 8rem;
        margin: 0rem 0.5rem 0rem 0.5rem;
        text-align: center;
        color: $text-primary;
        background-color: $background-secondary;

        &::after {
            content: '';
            top: 0; left: 0;
            background-color: $background-secondary;
            border-radius: 0.25rem;
            transform: scale(1);
            transition: 0.25s transform ease-in-out;
        }

        &r:hover::after {
            transform: scale(1.05);
        }
    }

    .active {
        opacity: 1;
        cursor: pointer;
    }
    
    .disabled {
        opacity: 0.8;
        background-color: $background-secondary;
        cursor: default;
    }
}