@import '../../styling/map-css-animations';

.container {
    --nodeSize: 0.5;
    position: relative;
    display: flex;

    canvas {
        width: calc(var(--nodeSize) * 180rem);
        height: calc(var(--nodeSize) * 90rem);
        background-color: #666666;
    }

    .path-nodes {
        --top: 0;
        --left: 0;
        --animation: 'none';
        position: absolute;
        width: calc(var(--nodeSize) * 1rem);
        height: calc(var(--nodeSize) * 1rem);
        top: calc(((var(--top) * var(--nodeSize)) + var(--nodeSize)/2) * 1rem);
        left: calc(((var(--left) * var(--nodeSize)) + var(--nodeSize)/2) * 1rem);
        background-color: rgb(0, 0, 0);
        opacity: 0;
        border-radius: 50%;
        animation: var(--animation);
    }

    .start-end-point {
        --top: 0;
        --left: 0;
        --animation: 'none';

        display: flex;
        align-items: center;
        justify-content: center;

        width: calc(var(--nodeSize) * 1rem);
        height: calc(var(--nodeSize) * 1rem);

        position: absolute;
        top: calc(((var(--top) * var(--nodeSize)) + var(--nodeSize)/2) * 1rem);
        left: calc(((var(--left) * var(--nodeSize)) + var(--nodeSize)/2) * 1rem);

        border-radius: 50%;
        cursor: grab;
        transition: opacity 0.25s ease-in-out;

        &::after {
            content: '';

            width: calc(var(--nodeSize) * 1.5rem);
            height: calc(var(--nodeSize) * 1.5rem);

            position: absolute;
            top: calc(var(--nodeSize) * -0.275rem);
            left: calc(var(--nodeSize) * -0.275rem);

            border-radius: 50%;
            background: radial-gradient(rgba(0,0,0,0.25), transparent);
        }

        &:hover {
            opacity: 0.5;
        }

        endpoint {
            margin-top: calc(var(--nodeSize) * -1.5rem);
        }

        &:active {
            cursor: grabbing;
        }
    }
}
