
<div freeDragging *ngIf="showMenu"
class="menu-container-animation">
    <div class="menu-container">
        <div class="drag-handle-wrapper">
            <drag freeDraggingHandle></drag>
        </div>
        
        <div #scroll class="buttons-wrapper">
            <slate-button
            [value]="findPathButtonLabel"
            (clicked)="findOrClearPath()">
            </slate-button>
            <slate-button
            [value]="'Reset'"
            (clicked)="resetEndpoints()">
            </slate-button>
            <slate-button
            [value]="speedLabel"
            (clicked)="updateSpeed()">
            </slate-button>
            <slate-button
            [value]="'How To Use This ?'"
            (clicked)="openInstructionCard()">
            </slate-button>
            <slate-button
            [value]="'How I Made This ?'"
            (clicked)="openHowWasThisMadeCard()">
            </slate-button>
            <slate-button
            [value]="'About Me'"
            (clicked)="openAboutMeCard()">
            </slate-button>
        </div>
    
        <div class="scroll-button-wrapper"
        [style.--animation] = "scrollRightAnimation">
            <div class="scroll-to-right-or-left"
            [ngClass] = " scrollRight ? 'scroll-right' : 'scroll-left'"
            (click)="scrollRightOrLeft()">
                <arrow></arrow>
            </div>
        </div>
    </div>
</div>
