
<div freeDragging *ngIf="showMenu"
class="menu-container-animation">
    <div class="menu-container">
        <div class="drag-handle-wrapper">
            <drag freeDraggingHandle></drag>
        </div>
        
        <div #scroll class="buttons-wrapper">
            <slate-button
            [value]="findPathButtonLabel"
            (clicked)="findOrClearPath()">
            </slate-button>
            <slate-button
            [value]="'Reset'"
            (clicked)="resetEndpoints()">
            </slate-button>
            <slate-button
            [value]="'Color Scale'">
            </slate-button>
            <slate-button
            [value]="'How To Use This ?'"
            (clicked)="openCard()">
            </slate-button>
            <slate-button
            [value]="'How I Made This ?'">
            </slate-button>
            <slate-button
            [value]="'About Me'">
            </slate-button>
        </div>
    
        <div class="scroll-button-wrapper">
            <div class="scroll-to-right-or-left"
            [ngClass] = " scrollRight ? 'scroll-right' : 'scroll-left'"
            (click)="scrollRightOrLeft()">
                <arrow></arrow>
            </div>
        </div>
    </div>
</div>
