@import '../../styling/_map-text-styling.scss';


@keyframes slateOpen {
    0% {
        opacity: 0;
        transform: translateX(-34.25rem);
    }
    23% {
        opacity: 1;
        transform: translateX(-34.25rem);
    }
    25% {
        opacity: 1;
        transform: translateX(-34.25rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0rem);
    }
}


.menu-container-animation  {
    position: absolute;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


    height: 3.5rem;
    width: 38rem;
    z-index: 50;
    background: none;

    border-radius: 1.75rem;
    background: none;
    overflow: hidden;

    .menu-container {
        display: flex;

        flex-direction: row;
        align-items: center;
        position: absolute;
        padding: 0.5rem;

        height: 2.5rem;
        border-radius: 1.75rem;
        background-color: $background-primary;
        
        opacity: 0;
        transform: translateX(-34.25rem);
        animation: slateOpen 1s ease-in-out forwards;
    
        .drag-handle-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
    
            z-index: 11;
            opacity: 0.8;
            width: 2.5rem;
    
            drag {
                transform: scale(0.45);
                cursor: move;
            }
        }
    
        button {
            cursor: pointer;
        }
    
        .buttons-wrapper {
            display: flex;
            flex-direction: row;
            width: 30rem;
            overflow: hidden;    
            scroll-behavior: smooth;
        }
    
        .scroll-button-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
    
            width: 2.5rem;
            margin-left: 0.5rem;
    
            .scroll-to-right-or-left {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 2rem;
                height: 2rem;
                border-radius: 50%;
    
                background-color: $background-primary;
                box-shadow: 0rem 0rem 0.5rem 0.1rem rgb(0 0 0 / 25%);
                cursor: pointer;
    
                transition: transform 0.5s ease;

                arrow {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    ::ng-deep {
                        svg {
                            transform: scale(0.85);
                        }
                    }
                }
            }
    
            .scroll-right {
                transform: rotate(0deg);
            }
    
            .scroll-left {
                transform: rotate(180deg);
            }
        
        }
    }
}