@import '../../../styling/map-text-styling';

@keyframes one {
    0% {
        opacity: 0;
    }
    17% {
        opacity: 0;
    }
    18% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes two {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    36% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes three {
    0% {
        opacity: 0;
    }
    53% {
        opacity: 0;
    }
    54% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes four {
    0% {
        opacity: 0;
    }
    71% {
        opacity: 0;
    }
    72% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes five {
    0% {
        opacity: 0;
    }
    89% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.container {
    position: relative;
    height: 4rem;
    width: 6rem;

    .start {
        position: absolute;
        left: 1rem;
        bottom: 0.5rem;
    }
    .end {
        position: absolute;
        right: 1rem;
        top: 0rem;
    }

    .path-node {
        position: absolute;

        width: 0.5rem;
        height: 0.5rem;

        border-radius: 50%;

        background-color: $text-primary;
    }

    .one {
        left: 1.21rem;
        bottom: 0.55rem;
        z-index: -1;

        animation: one 2s ease 0.5s infinite;
    }

    .two {
        left: 2rem;
        bottom: 0.95rem;

        animation: two 2s ease 0.5s infinite;
    }

    .three {
        left: 2.8rem;
        bottom: 1.45rem;

        animation: three 2s ease 0.5s infinite;
    }
    
    .four {
        left: 3.55rem;
        bottom: 1.95rem;

        animation: four 2s ease 0.5s infinite;
    }

    .five {
        left: 4.285rem;
        bottom: 2.5rem;

        animation: five 2s ease 0.5s infinite;
    }
}