
// todo - create separate file for animation keyframes
@keyframes elevate {
    0% {
        transform: scale(1.5) rotate(90deg);
    }
    100% {
        transform: scale(1) rotate(180deg);
    }
}

@keyframes appear {
    0% {
        opacity: 1;
        transform: scale(1.5) rotate(90deg);
    }
    5% {
        opacity: 1;
        transform: scale(1) rotate(180deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(180deg);
    }
}


.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute; top: 0; left: 0;

    .wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: absolute; top: 0; left: 0;
        z-index: 0;

        .node {
            --nodeSize: 0.5rem;
            --topScale: 0;
            --leftScale: 0;
            --top: calc(var(--nodeSize) * var(--topScale) * 1rem);
            --left: calc(var(--nodeSize) * var(--leftScale) * 1rem);
            

            .node-color {
                --color: white;
                --dimensions: calc(var(--nodeSize) * 1.82 * 1rem);
          
                position: absolute;
                top: var(--top);
                left: var(--left);
                --borderRadius: 'none';
                width: var(--dimensions);
                height: var(--dimensions);
                border-radius: 50%;
                z-index: 0;
        
                background: radial-gradient(circle at center, var(--color) 40%, transparent);
            }
    
            .path {
                --animation: 'none';

                position: absolute;
                width: calc(var(--nodeSize) * 1rem);
                height: calc(var(--nodeSize) * 1rem);
                top: var(--top);
                left: var(--left);
                opacity: 0;
                background-color: rgb(131, 129, 129);
                z-index: 1;
                animation: var(--animation);
            }
    
            .start-destination-node {
                position: absolute;
                width: calc(var(--nodeSize) * 1rem);
                height: calc(var(--nodeSize) * 1rem);
                top: var(--top);
                left: var(--left);
                background-color: black;
                z-index: 2;
                cursor: grab;
    
                &:active {
                    cursor: grabbing;
                }
            }
        }
    }
}
