
<menu-slate (emitAction)="animateAction($event)"></menu-slate>

<div class="container">
     <div class="wrapper"
     *ngIf="map?.length"
     [style.--nodesize]="nodeSize">
        <div class="row" *ngFor="let r of map; let i = index; trackBy: trackNode">
            <div class="column"
            *ngFor="let node of map[i]; let j = index; trackBy: trackNode">
                <div class="node"
                [style.--backgroundColor] = "node?.color"
                [style.--animation]="node?.animation ? node?.animation : 'none'"
                [style.--pseudoAnimaiton]="node?.pseudoAnimaiton ? node?.pseudoAnimaiton : 'none'"
                [style.--boxShadow]="node?.boxShadow ? node?.boxShadow : '0rem 0rem 0.2rem 0.15rem ' + node?.color"
                [style.--borderRadius]="node?.borderRadius ? node?.borderRadius : '0.1rem'"
                [style.--zIndex]="node?.zIndex ? node?.zIndex : node?.altitude"></div>

                <!-- needs fix -->
                <div class="start-destination-node"
                *ngIf="node?.isStartNode || node?.isEndNode"
                (mousedown)="setStartNodeDragEvent(node)"
                (mouseover)="setCurrentNodeDragged(node)"
                (mouseout)="revertFromCurrentNodeDragged(node)"></div>
            </div>
        </div>
     </div>
</div>