
// todo - create separate file for animation keyframes
@keyframes elevate {
    0% {
        transform: scale(1.5) rotate(90deg);
    }
    100% {
        transform: scale(0.7) rotate(180deg);
    }
}

@keyframes appear {
    0% {
        opacity: 1;
        transform: scale(1.5) rotate(90deg);
    }
    5% {
        opacity: 1;
        transform: scale(0.7) rotate(180deg);
    }
    100% {
        opacity: 1;
        transform: scale(0.7) rotate(180deg);
    }
}

@keyframes makeAppear {
    to {
        opacity: 1;
    }
}





.container {
    --nodeSize: 0.5;
    position: relative;
    display: flex;

    canvas {
        background-color: #666666;
        opacity: 0;
        animation: makeAppear 0.5s forwards;
    }

    .path-nodes {
        --top: 0;
        --left: 0;
        --animation: 'none';
        position: absolute;
        width: calc(var(--nodeSize) * 1rem);
        height: calc(var(--nodeSize) * 1rem);
        top: calc(((var(--top) * var(--nodeSize)) + var(--nodeSize)/2) * 1rem);
        left: calc(((var(--left) * var(--nodeSize)) + var(--nodeSize)/2) * 1rem);
        background-color: rgb(0, 0, 0);
        opacity: 0;
        border-radius: 25%;
        animation: var(--animation);
    }

    .start-end-point {
        --top: 0;
        --left: 0;
        --animation: 'none';
        position: absolute;
        width: calc(var(--nodeSize) * 1rem);
        height: calc(var(--nodeSize) * 1rem);
        top: calc(((var(--top) * var(--nodeSize)) + var(--nodeSize)/2) * 1rem);
        left: calc(((var(--left) * var(--nodeSize)) + var(--nodeSize)/2) * 1rem);
        background-color: rgb(255, 0, 0);
        border-radius: 50%;
        box-shadow: 0rem 0rem 0.3rem 0.2rem rgb(0 0 0 / 40%);
        cursor: grab;

        &:active {
            cursor: grabbing;
        }
    }
}
