
<div class="container"
[style.--nodeSize] = "nodeSize">
  <canvas class="map" #myMap width="1440" height="720"></canvas>

  <div class="path-nodes"
  *ngFor="let node of shortestPath"
  [style.--top]="node.pos.x"
  [style.--left]="node.pos.y"
  [style.--animation] = "node?.animation"></div>

  <div class="start-end-point"
  [style.--top]="startNode.pos.x"
  [style.--left]="startNode.pos.y"
  (mousedown)="onEndPointMouseDown(0)"></div>

  <div class="start-end-point"
  [style.--top]="endNode.pos.x"
  [style.--left]="endNode.pos.y"
  (mousedown)="onEndPointMouseDown(1)"></div>
</div>
