<div class="container">
     
  <div class="wrapper"
  [style.width]="width"
  [style.height]="height">
    <div *ngFor="let row of mapForView; let altitude = index; trackBy: trackNode">
      <div *ngFor="let node of row; let j = index; trackBy: trackNode">
        
        <div class="node"
        [style.--nodeSize]="nodeSize"
        [style.--topScale]="node?.pos?.x"
        [style.--leftScale]="node?.pos?.y">

          <div class="node-color"
          [style.--color]="getColor[altitude]">
          </div>
  
          <div class="path"
          [style.--animation]="node?.animation"
          (mouseup)="setCurrentNodeDragged(node)">
          </div>
  
          <div class="start-destination-node"
          *ngIf="node?.isStartNode || node?.isEndNode"
          (mousedown)="setStartNodeDragEvent(node)"
          (mouseup)="setCurrentNodeDragged(node)"
          (mouseout)="revertFromCurrentNodeDragged(node)">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
