<div class="instruction-container background-color">
    <div class="instruction-header">
        <div class="instruction-header-text text-primary-large-bold">
            {{ 'Instructions' }}
        </div>
    </div>
    <div class="instruction-content text-secondary-regular">
        <div class="instruction">
            {{ '1. you can drag the endpoints to desired position' }}
        </div>
        <div class="instruction">
            {{ '2. After that, click on animate path to find the best route through the terrain' }}
        </div>
        <div class="instruction">
            {{ '3. You can click on reset position to reset the position of endpoints to original position' }}
        </div>
    </div>
</div>


