@import '../../styling/_map-text-styling.scss';
@import '../../styling/_map-mixins.scss';
@import '../../styling/map-css-animations';


.instruction-container {
    @include card-content();
    height: 100%;
    background-color: $background-primary;

    .instruction-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .instruction-on-the-top {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            position: absolute;
            top:0;

            margin: 0.5rem;
            border-radius: 2rem;
            
            background-color: $background-secondary;


            .text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                width: 30rem;

                font: normal normal 1rem Poppins;

                .after-next-text {
                    position: absolute;
                    top: 3.25rem;
                }
            }

            .before-next {
                display: flex;
                flex-direction: column;

                .color-scale-diagram {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;

                    margin-top: 2rem;

                    width: 28rem;

                    .color-card {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 0.5rem;

                        box-shadow: -0.5rem 0 0.375rem -0.375rem rgba(0, 0, 0, 0.5);

                        border: 0.5rem solid $background-tertiary;

                        animation-fill-mode: forwards;
                    }
                }
            }
        }



        .ins-scroll-wrap {
            display: flex;
            flex-direction: row;
            overflow: hidden;
            scroll-behavior: smooth;
            width: 33rem;

            .menu-button-instruction {
                display: flex;
                flex-direction: row;
    
                .instruction {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;

                    width: 10rem;
                    height: 25rem;
    
                    flex-shrink: 0;
                    
                    margin: 9.5rem 0.5rem 0.5rem 0.5rem;
                    border-radius: 2rem;
    
                    background-color: $background-secondary;

                    font: normal normal 0.8rem Poppins;

                    .instruction-text {
                        height: 10rem;
                        width: 6rem;

                        margin: 2rem;

                        text-align: center;
                    }

                    .instruction-diagram {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        
                        position: relative;
                        height: 4rem;
                        width: 6rem;
                    }

                    .me-text {
                            
                        text-align: center;
                        font-size: 2.2rem;
                    }
                }

                .highlight {
                    background-color: $background-tertiary;
                }
            }
        }
    }








    .dummy-menu {
        display: flex;

        flex-direction: row;
        align-items: center;
        position: absolute;
        padding: 0.5rem;

        bottom: 2.5rem;
        left: 5.5rem;

        height: 2.5rem;
        border-radius: 1.75rem;
        background-color: $background-primary;

        box-shadow: 0rem 0rem 0.5rem 0.1rem rgb(0 0 0 / 25%);
        
        .drag-handle-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
    
            z-index: 11;
            opacity: 0.8;
            width: 2.5rem;
    
            drag {
                transform: scale(0.45);
            }
        }
    
        button {
            cursor: pointer;
        }
    
        .buttons-wrapper {
            display: flex;
            flex-direction: row;
            width: 33rem;
            overflow: hidden;    
            scroll-behavior: smooth;

            slate-button {
                ::ng-deep {
                    .common {
                        margin: 0rem 1rem 0rem 1rem;
                    }

                    .active {
                        cursor: default;
                    }
                }
            }
        }
    
        .scroll-button-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
    
            width: 2.5rem;
            margin-left: 0.5rem;
    
            .scroll-to-right-or-left {
                --animation: 'none';

                display: flex;
                align-items: center;
                justify-content: center;

                width: 2rem;
                height: 2rem;
                border-radius: 50%;
    
                background-color: $background-primary;
                box-shadow: 0rem 0rem 0.5rem 0.1rem rgb(0 0 0 / 25%);
                cursor: pointer;
    
                transition: transform 0.5s ease;

                animation: var(--animation);

                arrow {
                    transform: scale(0.6);
                }
            }
    
            .scroll-right {
                transform: rotate(0deg);
            }
    
            .scroll-left {
                transform: rotate(-180deg);
            }
        
        }
    }







    .instruction-action  {
        display: flex;
        flex-direction: row;

        position: absolute;
        top: 50%;
        right: -3.75rem;
        
        text-align: left;

        cursor: pointer;

        .arrow-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 2rem;
        }

        .text {
            width: 3rem;

            font: normal 600 0.9rem Poppins;
            line-height: 1.1rem;
            color: $text-primary;

            cursor: pointer;

            text-shadow: 0rem 0.1rem 0.5rem rgba(0, 0, 0, 0.25);
        }
    }

    .next {
        arrow {
            transition: transform 0.5s ease;
            transform: translateX(-0.6rem) scale(0.6);
        }

        .text {
            transition: transform 0.5s ease;
            transform: translateX(0rem);
        }

        &:hover {
            arrow {
                transform: translateX(0rem) scale(0.6);
            }

            .text {
                transform: translateX(0.2rem);
            }
        }
    }

    .gotit {
        arrow {
            transition: transform 0.5s ease;
            transform: translateX(0rem) scale(0.6);
        }

        .text {
            transition: transform 0.5s ease;
            transform: translateX(0rem);
        }

        &:hover {
            arrow {
                transform: translateX(0.6rem) scale(0.6);
            }

            .text {
                transform: translateX(0.2rem);
            }
        }
    }
}