<div class="instruction-container"
[@instructionContainer] = "{value: '*', params: {showInstructionDelay: (showInstructionDelay$ | async)}}">
    <div class="instruction-wrapper">
        <div [@insOnTop]="insState"
        class="instruction-on-the-top">
           
        </div>

        <div #scrollIns class="ins-scroll-wrap">
            <div class="menu-button-instruction">
                <div [@insBelow]="{ value: insState }" class="instruction">

                </div>
                <div [@insBelow]="{ value: insState, params: {delay: '0.2s'}}" class="instruction">
                </div>
                <div [@insBelow]="{ value: insState, params: {delay: '0.4s'}}" class="instruction">
                    
                </div>
                <div [@insBelow]="{ value: insState }" class="instruction">
                    
                </div>
                <div [@insBelow]="{ value: insState }" class="instruction">
                    
                </div>
                <div [@insBelow]="{ value: insState }" class="instruction highlight">
                    
                </div>
            </div>
        </div>
    </div>

    <div @appear class="dummy-menu" *ngIf="insState == 'secondInstructions'">
        <div class="drag-handle-wrapper">
            <drag></drag>
        </div>
        
        <div #scrollMenu class="buttons-wrapper">
            <slate-button
            [value]="'Find Path'">
            </slate-button>
            <slate-button
            [value]="'Reset'">
            </slate-button>
            <slate-button
            [value]="'Medium Speed'">
            </slate-button>
            <slate-button
            [value]="'How To Use This ?'">
            </slate-button>
            <slate-button
            [value]="'How I Made This ?'">
            </slate-button>
            <slate-button
            [value]="'About Me'">
            </slate-button>
        </div>
    
        <div class="scroll-button-wrapper">
            <div class="scroll-to-right-or-left"
            [ngClass] = " scrollRight ? 'scroll-right' : 'scroll-left'"
            [style.--animation] = "scrollRightAnimation"
            (click)="scrollRightOrLeft()">
                <arrow></arrow>
            </div>
        </div>
    </div>

    <div class="instruction-action"
    *ngIf="showInstructionAction"
    [ngClass] = "insState == 'firstInstructions' ? 'next' : 'gotit'"
    [@appearWithJustInDelay]="{ value: '*',
    params: { duration: '0.5s',
    delay: insState == 'firstInstructions' ? '0.5s' : '0s' } }"
    (click)="showNextOrCloseInstruction()">
        <div class="text">
            {{ insState == 'firstInstructions' ? 'Next' : 'Got It!' }}
        </div>
        <div class="arrow-wrapper">
            <arrow [showShadow]="true"></arrow>
        </div>
    </div>
</div>


