@import '../styling/_map-text-styling.scss';


@keyframes cardLoadAnimation {
    from {
        transform: scale(0);
        // opacity: 0;
    }
    to {
        transform: scale(2);
        // opacity: 1;
    }
}

.menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 50;
    padding: 0.5rem;
    height: 3rem;
    width: fit-content;
    border-radius: 2rem;
    background-color: #FFFFFF;
    box-shadow: 0rem 0rem 0.5rem 0.1rem rgb(0 0 0 / 25%);
    opacity: 0;
    animation: makeAppear 0.5s ease-in-out 0.5s forwards;

    .drag-handle-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 11;
        cursor: move;
        opacity: 0.8;
        width: 3rem;
        margin-right: 0.5rem;

        drag {
            transform: scale(0.55);
        }
    }

    button {
        cursor: pointer;
    }

    .buttons-wrapper {
        display: flex;
        flex-direction: row;
        width: 30rem;
        overflow: hidden;    
        scroll-behavior: smooth;
    }

    .scroll-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 3rem;
        margin-left: 0.5rem;

        .scroll-to-right-or-left {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;

            background-color: #FFFFFF;
            box-shadow: 0rem 0rem 0.5rem 0.1rem rgb(0 0 0 / 25%);
            cursor: pointer;

            transition: transform 0.5s ease;

            ::ng-deep {
                svg {
                    transform: translateX(0.1rem) scale(0.45);
                }
            }
        }

        .scroll-right {
            transform: rotate(0deg);
        }

        .scroll-left {
            transform: rotate(180deg);
        }
    
    }
}


.card-container {
    position: absolute;
    top: 2rem; right: 5rem; bottom: 2rem; left: 5rem;
    border-radius: 2rem;
    z-index: 49;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
        content: '';

        width: 90rem;
        height: 90rem;

        position: absolute;
        top: 0rem;
        left: 50%;
        
        background-color: $background-primary;
        border-radius: 50%;
        
        margin-left: -45rem;
        transform: scale(0);
        animation: cardLoadAnimation 1s ease-out forwards;
    }

    .card-content-container-wrapper {
        display: flex;
        flex-direction: column;
        z-index: 1;
        opacity: 0;

        .card-header {
            display: flex;
            justify-content: flex-end;
            width: 60rem;
            padding: 0.5rem;

            .card-skip-or-close {
                cursor: pointer;
            }
        }

        .card-content-wrapper {
            display: flex;
            justify-content: center;
        }
    }
    
    .card {
        position: absolute;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 2rem; right: 5rem; bottom: 2rem; left: 5rem;
        z-index: 1;
        border-radius: 2rem;
        border: 0.036rem solid $background-primary;
        padding-top: 1rem;

        opacity: 0;
        animation: makeAppear 0.5s ease-in-out 0.5s forwards;
    
        
    
       
    }
}
