
<div freeDragging class="menu-container">
    <div class="drag-handle-wrapper">
        <drag freeDraggingHandle></drag>
    </div>
    
    <div #scroll class="buttons-wrapper">
        <slate-button
        [value]="buttonText"
        (clicked)="emitActionForMap()">
        </slate-button>
        <slate-button
        [value]="'Reset'"
        (clicked)="emitResetEndpoints()">
        </slate-button>
        <slate-button
        [value]="'Color Scale'"
        (clicked)="showCard = !showCard">
        </slate-button>
        <slate-button
        [value]="'How To Use This'">
        </slate-button>
        <slate-button
        [value]="'How I Made This'">
        </slate-button>
        <slate-button
        [value]="'About Me'">
        </slate-button>
    </div>

    <div class="scroll-button-wrapper">
        <div class="scroll-to-right-or-left"
        [ngClass] = " scrollRight ? 'scroll-right' : 'scroll-left'"
        (click)="scrollRightOrLeft()">
            <arrow></arrow>
        </div>
    </div>
</div>


<div class="card-container" *ngIf = "showCard">
</div>
