
.menu-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    z-index: 50;
    padding: 0.5rem;
    height: 3rem;
    width: 35rem;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
          0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    .drag-handle {
        z-index: 11;
        padding: 0.5rem 0.5rem 0.3rem 0.5rem;
        margin-right: 1rem;
        align-items: center;
        cursor: move;
    }

    .text {
        font: normal 500 1rem Roboto;
    }
}